.image img{
    filter: brightness(50%);
}
.banner{
    height: 550px;
}
#third-banner{
    height: 500px;
}
.margin{
    margin-top: 50px;
}
.padding{
    padding-bottom: 30px;
}
.background{
    background-color: white;
}
.title-color{
    color: #4A4A4A;
}
